@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1D1F20;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }
}


@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .shad-cn-utBtn {
    @apply bg-transparent shadow-none text-black/80 w-[40px] h-[40px] rounded-full hover:bg-neutral-100;
  }
}